<!doctype html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>List</title>
</head>
<body>
    <h1>@Model.currCategory.Name</h1>
    <div class="container">
        <div class="row row-cols-4">
            @{
            foreach (Dish dish in Model.AllDishes)
            {
                @Html.Partial("AllDish", dish)
            } }
        </div>
    </div>
</body>
</html>
