<!doctype html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>List</title>
</head>
<body>
    <h2>Ошибка</h2>
    <h2>Категория не найдена</h2>
    <a class="nav-link active" aria-current="page" href="/Home/Index">Главная</a>
</body>
</html>
