<div class="container border border-light shadow p-3 mb-5 bg-body rounded">
    <form asp-controller="User" asp-action="ChangePassword">
      <div class="mb-3">
        <label for="currentPassword" class="form-label">Введите текущий пароль:</label>
        <input 
            type="password" 
            class="form-control" 
            data-val="true" 
            data-val-required="Введите текущий пароль" 
            maxlength="16" 
            id="currentPassword"
            name="oldPassword"
            required>
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">Введите новый пароль:</label>
        <input 
            type="password" 
            class="form-control" 
            data-val="true" 
            data-val-required="Введите новый пароль" 
            maxlength="16" 
            id="newPassword"
            name="newPasswordFirst"
            required>
      </div>
      <div class="mb-3">
        <label for="newPasswordRepeat" class="form-label">Повторите новый пароль:</label>
        <input 
            type="password" 
            class="form-control" 
            data-val="true" 
            data-val-required="Введите повтор нового пароля" 
            maxlength="16" 
            id="newPasswordRepeat"
            name="newPasswordSecond"
            required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>